<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Spectral-Light.ttf</string>
		<string>Spectral-LightItalic.ttf</string>
		<string>Spectral-Regular.ttf</string>
		<string>Spectral-Medium.ttf</string>
		<string>Spectral-SemiBold.ttf</string>
		<string>Spectral-Bold.ttf</string>
		<string>HankenGrotesk-Variable.ttf</string>
		<string>SplineSansMono-Variable.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.markderdzinski.Cairn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cairn</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
